@import "src/styles/_variables";

.navigation{
    width: 310px;
    height: 35px;
    @media screen and (max-width: $small-resolution){
        width: 50%;
        height: auto;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    &__link{
        font-size: 1.4em;
        text-decoration: none;
        text-transform: uppercase;
        @media screen and (max-width: $small-resolution){
            font-size: 0.8em;
        }
    }
    &__link:hover{
        text-decoration: underline;
    }
}
