.navigation{
    width: 310px;
    height: 35px;
}

.navigation__list{
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.navigation__link{
    font-size: 1.4em;
    text-decoration: none;
}

.navigation__link:hover{
    text-decoration: underline;
}