.host {
    display: flex;
    align-items: center;
    &__name {
        font-size: 1.1em;
    }
    &__picture {
        width: 64px;
        height: 64px;
        margin-left: 10px;
        border-radius: 50px;
        background-color: #c4c4c4;
        overflow: hidden;
        & img{
            width: 100%;
        }
    }
}