.main{
    width: 1240px;
    margin: 0 auto;
    &--404{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 900px;
        &__title{
            font-size: 9em;
        }
        &__subtitle {
            font-size: 1.6em;
            font-weight: 500;
        }
    }
}