@import "src/styles/_variables";

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 209px;
    background-color: #000;
    &__title{
        margin-top: 30px;
        margin-bottom: 40px;
        color: #fff;
        font-weight: 500;
    }
    & img{
        @media screen and (max-width: $small-resolution){
            width: 100%;
        }
    }
}