.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
}

.banner__overlay{
    position: absolute;
    width: 1240px;
    height: 223px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
}

.banner__title{
    position: absolute;
    font-size: 3.0em;
    color: #fff;
}



